* {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background: rgb(138, 138, 210);
}

h1 {
    color: brown;
    height: 10rem;
    background: rgb(103, 103, 156);


}

.grenvalido {
    background: rgba(78, 235, 109, 0.697);
    padding: 5rem;
}

.redfalse {
    background: rgb(230, 55, 55);
}